.weather-card {
    height: 100px;
    width: 200px;
    background: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.heading {
    font-size: large;
    font-weight: bold;
    background: white;
}

.value {
    font-size: medium;
    background: white;
}
